*{
  margin: 0;
  box-sizing: border-box;
}
i{
  font-size: 26px;
}

h2{
  
  letter-spacing: 1px;
  text-transform: uppercase;
}
.text-blue{
  color: #4472C4;
  
}
.section{
  margin-top: 6px;
 margin-bottom: 22px;
 font-size: 22px;
 
}
p{
  margin-top: 4px;
}
.cv-container{
  padding: 12px;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-areas: "left-column right-column right-column";
  width: 1000px;
  margin: 100px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-weight: 300;
}
/* col-right */
.left-column{
  grid-area: left-column;
  padding: 50px;
  background-color: rgba(64, 114, 196,0.8);
  color: white;

}
.left-column .section{
  line-height: 24px;
  color: rgba(255,255,255, 0.9);
}
.portait{
  border-radius: 50%;
  max-width: 150px;
  margin: auto;
  border: 1px solid white;
  padding: 2px;
  display: block;
  margin-bottom: 50px;
}
.skills i{
  margin-right: 6px;
  margin-top: 2px;
}
/* right column */
.header{}
.header p{
  font-size: 22px;
}
.right-column{
  padding-left: 6px;
}